.omc
.codex
.env
.runtime
.worktrees
node_modules
data/runtime/store.json
npm-debug.log*
.superpowers/brainstorm/2735429-1776867112/.server-stopped
.superpowers/brainstorm/2735429-1776867112/.server.pid
